* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #cec0c0;
    font-family: 'Gill Sans', 'Gill Sans MT';
    font-size: 10px;
}

#itemForm {
    align-items: center;
}

input,
button {
    height: 3rem;
    margin: 1rem;
    padding: 0.5rem;
    border: 0.1rem solid #ccc;
    border-radius: 0.5rem;
    font-size: 1.6rem;
}
label{
    font-size: 1.2rem;
}

input {
    width: 35%;
}

button {
    width: 20%;
    background-color: #ccc;
    cursor: pointer;
}

h1,
h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    margin: 1.5rem 0;
    text-decoration: underline;
}

.heding {
    width: 95vw;
    margin: 1.5rem auto 0;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.8rem;
}

.heding>span {
    margin-right: 6rem;
    font-size: 1.5rem;
    width: 100%;
}

.container,
.inputf {
    width: 95vw;
    margin: 2rem auto;
    background-color: #fff;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem 0 #ccc;
}

.container>div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.8rem;
}

.container>div>button {
    background-color: #f44336;
    color: #fff;
}

.container>div>button:hover {
    background-color: #d32f2f;
}

.container>div>button:active {
    background-color: #b71c1c;
}

.container>div>span {
    display: inline-block;
    margin-right: 2rem;
    font-size: 1.2rem;
    width: 100%;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    input {
        width: 60%;
    }

    button {
        width: 40%;
    }

    h1, h2 {
        font-size: 2rem;
    }

    .heding {
        flex-direction: column;
        font-size: 1.5rem;
    }

    .heding>span {
        margin-right: 0;
        text-align: center;
    }

    .container>div {
        flex-direction: column;
        font-size: 1.5rem;
    }
}

@media (max-width: 480px) {
    input {
        width: 80%;
    }
    label{
        font-size: 1rem;
    }

    button {
        width: 60%;
    }

    h1, h2 {
        font-size: 1.5rem;
    }

    .heding {
        padding: 1rem;
        font-size: 1.2rem;
    }

    .container,
    .inputf {
        padding: 1rem;
    }

    .container>div {
        font-size: 1.2rem;
    }

    .container>div>span {
        margin-right: 0;
        text-align: center;
    }
}
